#C Derleme Çıktıları (Binary & Object)
*.o
*.so
*.out
ministream
generator
test_temel
test_benchmark

# dataset
*.csv

# Python Önbellek Dosyaları
__pycache__/
*.py[cod]
*$py.class

# İşletim Sistemi ve Editör Çöpleri
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
